<po-page-default
p-title="Visão Geral de Vendas">

    <div class="po-row">

        <po-datepicker-range
        class="po-xl-10 po-lg-10 po-md-10 po-sm-10"
        p-label="Período base"
        [p-no-autocomplete]="true"
        p-size="small"
        (p-change)="onChangeDate($event)"
        [p-max-date]="today"
        [p-start-date]="startDate"
        [p-end-date]="endDate"
        [p-clean]="true"
        >
        </po-datepicker-range>
        
        <po-button
        style="margin-top: 31px;"
        class="po-xl-2 po-lg-2 po-md-2 po-sm-2"
        p-label="Atualizar"
        p-icon="an an-arrows-clockwise"
        p-kind="secondary"
        >
        </po-button>

    </div>

    <div class="po-md-12">
        <po-chart
        class="po-md-12"
        [p-title]="revenueOverTimeTitle"
        [p-options]="revenueOverTimeOptions"
        [p-categories]="months"
        [p-series]="revenueOverTime"
        >
        </po-chart>
    </div>

    <div class="po-md-12">
        <po-chart
        class="po-md-12"
        [p-title]="revenueHistoryTitle"
        [p-options]="revenueHistoryOptions"
        [p-categories]="years"
        [p-series]="revenueHistory"
        >
        </po-chart>
    </div>

    <div class="po-md-12">
        <po-chart
        class="po-lg-12"
        [p-title]="customerCategoriesTitle"
        [p-options]="customerCategoriesOptions"
        [p-series]="customerCategories"
        [p-height]="450"
        >
        </po-chart>
    </div>

    <div class="po-md-12">
        <po-chart
        class="po-md-12"
        [p-title]="productCategoriesEvolutionTitle"
        [p-height]="450"
        [p-categories]="productCategoriesEvolutionItems"
        [p-series]="productCategoriesEvolution"
        [p-type]="productCategoriesEvolutionType"
        [p-options]="productCategoriesEvolutionOptions"
        >
        </po-chart>
    </div>


</po-page-default>
<po-loading-overlay [hidden]="isHideLoading" [p-text]="loadingText" ></po-loading-overlay>