.div-chart {
    padding-bottom: 30px;
}

.stat-widget {
    --border-radius: 15px;
    --border-width: 1px;
    --border-color: #045B8F;
    --border-color-hover: #B4E2FD;
    --background-selected: #B4E2FD;
    --border-color-selected: #045B8F;
    margin-left: -10px;
    margin-right: 10px;
    margin-bottom: 0px;
    position: relative;
}

.widget-label {
    font-weight: bold;
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    text-align: center;
}

.widget-value {
    font-weight: bold;
    position: absolute;
    top: 43px;
    left: 0;
    width: 100%;
    text-align: center;
}