<po-page-default style="padding-bottom: 100px;"
[p-actions]="pageActions"
p-title="Visão Geral de Vendas">

    <po-page-slide #pageSlide
    [p-title]="pageSlideTitle"
    [p-subtitle]="pageSlideSubtitle"
    p-size="md"
    [p-click-out]="true">

        <po-dynamic-form
        [p-fields]="filtersFields"
        [p-value]="filters" 
        [p-validate-fields]="this.validateFiltersFields"
        [p-validate]="this.onChangeFilters.bind(this)" >
        </po-dynamic-form>

        <po-page-slide-footer>

            <po-button p-label="Salvar" (p-click)="applyFilters()"> </po-button>

        </po-page-slide-footer>

    </po-page-slide>

    <div class="po-md-12" style="margin-bottom: 15px;">
        
        <po-widget class="po-xl-4 po-lg-6 po-md-12 stat-widget"
        (p-click)="1===1">
            <div class="po-text-center widget-value">
                {{revenueIndicators.accumulatedRevenueCurrent.label}}
            </div>
            <div class="po-font-subtitle po-text-center">
                {{revenueIndicators.accumulatedRevenueCurrent.value | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}
            </div>
        </po-widget>

        <po-widget class="po-xl-4 po-lg-6 po-md-12 stat-widget"
        (p-click)="1===1">
            <div class="po-text-center widget-value">
                {{revenueIndicators.newClients.label}}
            </div>
            <div class="po-font-subtitle po-text-center">
                {{revenueIndicators.newClients.value}}
            </div>
        </po-widget>

        <po-widget class="po-xl-4 po-lg-6 po-md-12 stat-widget"
        (p-click)="1===1">
            <div class="po-text-center widget-value">
                {{revenueIndicators.notPurchasedClients.label}}
            </div>
            <div class="po-font-subtitle po-text-center">
                {{revenueIndicators.notPurchasedClients.value}}
            </div>
        </po-widget>

    </div>

    <div class="po-md-12" style="margin-bottom: 40px;">

        <po-widget class="po-xl-4 po-lg-6 po-md-12 stat-widget"
        (p-click)="1===1">
            <div class="po-text-center widget-value">
                {{revenueIndicators.accumulatedRevenuePrevious.label}}
            </div>
            <div class="po-font-subtitle po-text-center">
                {{revenueIndicators.accumulatedRevenuePrevious.value | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}
            </div>
        </po-widget>
        
        <po-widget class="po-xl-4 po-lg-6 po-md-12 stat-widget"
        (p-click)="1===1">
            <div class="po-text-center widget-value">
                {{revenueIndicators.increasedClients.label}}
            </div>
            <div class="po-font-subtitle po-text-center">
                {{revenueIndicators.increasedClients.value}}
            </div>
        </po-widget>

        <po-widget class="po-xl-4 po-lg-6 po-md-12 stat-widget"
        (p-click)="1===1">
            <div class="po-text-center widget-value">
                {{revenueIndicators.decreasedClients.label}}
            </div>
            <div class="po-font-subtitle po-text-center">
                {{revenueIndicators.decreasedClients.value}}
            </div>
        </po-widget>

    </div>

    <div class="po-md-12 div-chart">
        <po-chart
        class="po-md-12"
        [p-title]="revenueOverTimeTitle"
        [p-options]="revenueOverTimeOptions"
        [p-categories]="months"
        [p-series]="revenueOverTime"
        >
        </po-chart>
    </div>

    <div class="po-md-12 div-chart">
        <po-chart
        class="po-md-12"
        [p-title]="revenueHistoryTitle"
        [p-options]="revenueHistoryOptions"
        [p-categories]="revenueHistoryCategories"
        [p-series]="revenueHistory"
        >
        </po-chart>
    </div>

    <div class="po-md-12 div-chart">
        <po-chart
        class="po-lg-12"
        [p-title]="customerCategoriesTitle"
        [p-options]="customerCategoriesOptions"
        [p-series]="customerCategories"
        [p-height]="500"
        >
        </po-chart>
    </div>

    <div class="po-md-12 div-chart">
        <po-chart
        class="po-md-12"
        [p-title]="productCategoriesEvolutionTitle"
        [p-height]="550"
        [p-categories]="productCategoriesEvolutionItems"
        [p-series]="productCategoriesEvolution"
        [p-type]="productCategoriesEvolutionType"
        [p-options]="productCategoriesEvolutionOptions"
        >
        </po-chart>
    </div>

</po-page-default>
<po-loading-overlay [hidden]="isHideLoading" [p-text]="loadingText" ></po-loading-overlay>