
<div class="po-wrapper" *ngIf="!isLoginRoute">
  <po-toolbar
    p-title="Portal do Representante - Serv Sal"
    [p-profile]="profile"
    [p-profile-actions]="profileActions"
  ></po-toolbar>

  <po-menu
    [p-collapsed]="false"
    [p-filter]="false"
    [p-menus]="menus"
    [p-automatic-toggle]="false"
  >
  
    <div *p-menu-header-template class="po-p-2 po-font-title">
      <img src="assets/images/logo-serv-sal.png">
      <p><b>Portal do Representante</b></p>
    </div>

  </po-menu>

  <po-page-default>
    <router-outlet></router-outlet>
  </po-page-default>
</div>

<router-outlet *ngIf="isLoginRoute"></router-outlet>