.title {
    color: #4A5C60;
}

.add-button {
    margin-top: 15px;
    margin-bottom: 20px;
}

.stat-widget {
    --border-radius: 8px;
    --border-width: 2px;
    --border-color: #B4E2FD;
    --border-color-hover: #045B8F;
    --background-selected: #B4E2FD;
    --border-color-selected: #045B8F;
    margin-left: -10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.stat-label {
    font-size: 14px;
    color: #045B8F;
    font-weight: 600;
    margin-left: 45px;
    margin-bottom: -10px;
    white-space: nowrap;
}

.stat-value {
    font-size: 32px;
    color: #045B8F;
    font-weight: 600;
    margin-left: 45px;
    margin-top: -42px;
    white-space: nowrap;
}

.stat-icon {
    font-size: 36px;
    color: #045B8F;
    margin-left: -3px;
}