<po-page-dynamic-search class="dsearch" p-title="Orçamentos" [p-filters]="[{ property: 'name' }]">

    <po-button
        class="add-button"
        (p-click)="addOrcamento()"
        p-aria-label="Teste"
        p-icon="an an-plus"
        p-kind="primary"
        p-label="Incluir"
    ></po-button>

    <div>

        <po-widget
            class="po-xl-2 po-lg-4 po-md-6 stat-widget"
            (p-click)="addOrcamento()"
            [p-height]="74"
        >
            <po-icon p-icon="an an-money-wavy" class="stat-icon"></po-icon>
            <p class="stat-value">10</p>
            <p class="stat-label">Em cotação</p>
        </po-widget>

        <po-widget
            class="po-xl-2 po-lg-4 po-md-6 stat-widget"
            (p-click)="addOrcamento()"
            [p-height]="74"
        >
            <po-icon p-icon="an an-check-circle" class="stat-icon"></po-icon>
            <p class="stat-value">2</p>
            <p class="stat-label">Em aprovação</p>
        </po-widget>

        <po-widget
        class="po-xl-2 po-lg-4 po-md-6 stat-widget"
        (p-click)="addOrcamento()"
        [p-height]="74"
        >
            <po-icon p-icon="an an-truck" class="stat-icon"></po-icon>
            <p class="stat-value">3</p>
            <p class="stat-label">Em carregamento</p>
        </po-widget>

        <po-widget
            class="po-xl-2 po-lg-4 po-md-6 stat-widget"
            (p-click)="addOrcamento()"
            [p-height]="74"
        >
            <po-icon p-icon="an an-flag-checkered" class="stat-icon"></po-icon>
            <p class="stat-value">21</p>
            <p class="stat-label">Finalizados</p>
        </po-widget>

        <po-widget
            class="po-xl-2 po-lg-4 po-md-6 stat-widget"
            (p-click)="addOrcamento()"
            [p-height]="74"
        >
            <po-icon p-icon="an an-x-circle" class="stat-icon"></po-icon>
            <p class="stat-value">6</p>
            <p class="stat-label">Rejeitados</p>
        </po-widget>

        <po-widget
            class="po-xl-2 po-lg-4 po-md-6 stat-widget"
            (p-click)="addOrcamento()"
            [p-height]="74"
        >
            <po-icon p-icon="an an-timer" class="stat-icon"></po-icon>
            <p class="stat-value">7</p>
            <p class="stat-label">Pendente ação</p>
        </po-widget>

    </div>

    <po-table
        [p-columns]="columns"
        [p-items]="items"
        [p-draggable]="true"
        [p-hide-columns-manager]="true"
        [p-sort]="true"
        [p-striped]="false"
        [p-actions]="itemActions"
    >

    </po-table>

</po-page-dynamic-search>

<style>
    .add-button {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .stat-widget {
        --border-radius: 8px;
        --border-width: 2px;
        --border-color: #B4E2FD;
        --border-color-hover: #045B8F;
        --background-selected: #B4E2FD;
        --border-color-selected: #045B8F;
        margin-left: -10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    
    .stat-label {
        font-size: 14px;
        color: #045B8F;
        font-weight: 600;
        margin-left: 45px;
        margin-bottom: -10px;
        white-space: nowrap;
    }

    .stat-value {
        font-size: 32px;
        color: #045B8F;
        font-weight: 600;
        margin-left: 45px;
        margin-top: -42px;
        white-space: nowrap;
    }

    .stat-icon {
        font-size: 36px;
        color: #045B8F;
        margin-left: -3px;
    }
</style>