<po-page-dynamic-search
    class="dsearch" p-title="Orçamentos"
    [p-actions]="actions"
    [p-concat-filters]="true"
    [p-keep-filters]="true"
    (p-advanced-search)="onAdvancedSearch($event)"
    (p-change-disclaimers)="onChangeDisclaimers($event)"
    (p-quick-search)="onQuickSearch($event)"
    >

    <div>

        <po-widget
            class="po-xl-2 po-lg-4 po-md-6 stat-widget"
            (p-click)="onBlockClick(1)"
            [p-height]="74"
            [p-primary]="selectedFilterBlock===1"
        >
            <po-icon p-icon="an an-money-wavy" class="stat-icon"></po-icon>
            <p class="stat-value">{{blockFilters[0].amount}}</p>
            <p class="stat-label">{{blockFilters[0].description}}</p>
        </po-widget>

        <po-widget
            class="po-xl-2 po-lg-4 po-md-6 stat-widget"
            (p-click)="onBlockClick(2)"
            [p-height]="74"
            [p-primary]="selectedFilterBlock===2"
        >
            <po-icon p-icon="an an-check-circle" class="stat-icon"></po-icon>
            <p class="stat-value">{{blockFilters[1].amount}}</p>
            <p class="stat-label">{{blockFilters[1].description}}</p>
        </po-widget>

        <po-widget
        class="po-xl-2 po-lg-4 po-md-6 stat-widget"
        (p-click)="onBlockClick(3)"
        [p-height]="74"
        [p-primary]="selectedFilterBlock===3"
        >
            <po-icon p-icon="an an-truck" class="stat-icon"></po-icon>
            <p class="stat-value">{{blockFilters[2].amount}}</p>
            <p class="stat-label">{{blockFilters[2].description}}</p>
        </po-widget>

        <po-widget
            class="po-xl-2 po-lg-4 po-md-6 stat-widget"
            (p-click)="onBlockClick(4)"
            [p-height]="74"
            [p-primary]="selectedFilterBlock===4"
        >
            <po-icon p-icon="an an-flag-checkered" class="stat-icon"></po-icon>
            <p class="stat-value">{{blockFilters[3].amount}}</p>
            <p class="stat-label">{{blockFilters[3].description}}</p>
        </po-widget>

        <po-widget
            class="po-xl-2 po-lg-4 po-md-6 stat-widget"
            (p-click)="onBlockClick(5)"
            [p-height]="74"
            [p-primary]="selectedFilterBlock===5"
        >
            <po-icon p-icon="an an-x-circle" class="stat-icon"></po-icon>
            <p class="stat-value">{{blockFilters[4].amount}}</p>
            <p class="stat-label">{{blockFilters[4].description}}</p>
        </po-widget>

        <po-widget
            class="po-xl-2 po-lg-4 po-md-6 stat-widget"
            (p-click)="onBlockClick(6)"
            [p-height]="74"
            [p-primary]="selectedFilterBlock===6"
        >
            <po-icon p-icon="an an-timer" class="stat-icon"></po-icon>
            <p class="stat-value">{{blockFilters[5].amount}}</p>
            <p class="stat-label">{{blockFilters[5].description}}</p>
        </po-widget>

    </div>

    <po-table
        [p-columns]="columns"
        [p-items]="filteredItems"
        [p-actions]="itemActions"
        [p-hide-columns-manager]="true"
        [p-draggable]="true"
        [p-sort]="true"
        [p-striped]="true"
        p-container="border"
        [p-height]="400"
        [p-loading-show-more]="true"
    >

    </po-table>

    <po-modal #modal
    [p-click-out]="false"
    [p-hide-close]="true"
    p-icon="an an-user-plus"
    [p-primary-action]="confirmCustomer"
    [p-secondary-action]="cancelCustomer"
    p-size="xl"
    [p-title]="customerModalTitle" >
        <po-dynamic-form #rowForm
        [p-fields]="customerModalFields"
        [p-value]="customerModalData"
        [p-validate-fields]="this.customerModalValidateFields"
        [p-validate]="this.onChangeCustomerFields.bind(this)" >
            
        </po-dynamic-form>
    </po-modal>

</po-page-dynamic-search>
<po-loading-overlay [hidden]="isHideLoading"></po-loading-overlay>