<po-page-edit
    [p-title]="formTitle"
    (p-save)="onSaveForm(false)"
    (p-cancel)="onCancelForm()"
    (p-save-new)="onViewDetails()"
    [p-disable-submit]="false"
    [p-literals]="pageEditLiterals"
    >

    <po-page-slide #pageSlide
    [p-title]="pageSlideTitle"
    p-size="sm"
    [p-click-out]="true">

        <po-divider p-label="Totais" ></po-divider>
    
        <div class="page-slide-items">
            <po-info p-label="Valor Produtos"   [p-value]="this.budgetTotalValueFormatted" > </po-info>
            <po-info p-label="Valor Frete"      [p-value]="this.budgetFreightValueFormatted" > </po-info>
            <po-info p-label="Peso Total"       [p-value]="this.totalLoadWeightFormatted" > </po-info>
        </div>

        <po-divider p-label="Paletização"></po-divider>
        
        <div class="page-slide-items">
            <po-info p-label="Paletes 10x1"     [p-value]="palletsAmountPerPackagingFormat[0].toString()"> </po-info>
            <po-info p-label="Paletes 30x1"     [p-value]="palletsAmountPerPackagingFormat[1].toString()"> </po-info>
            <po-info p-label="Paletes 25kg"     [p-value]="palletsAmountPerPackagingFormat[2].toString()"> </po-info>
        </div>    

        <po-page-slide-footer>

            <po-button p-label="Imprimir"   (p-click)="printBudget()" p-kind="secondary" [p-disabled]="!this.headerData.budgetId"> </po-button>
            <po-button p-label="Fechar"     (p-click)="pageSlide.close()" p-kind="primary"> </po-button>

        </po-page-slide-footer>

    </po-page-slide>


    <po-tabs>

        <po-tab
        [p-active]="true"
        p-label="Dados gerais" >
            <po-container
            [p-height]="175"
            [p-no-border]="true"
            [p-no-padding]="true" >
                <po-dynamic-form
                [p-fields]="generalDataFields"
                [p-value]="headerData"
                [p-validate-fields]="this.validateHeaderFields"
                [p-validate]="this.onChangeHeaderFields.bind(this)" >
                    
                </po-dynamic-form>
            </po-container>
        </po-tab>

        <po-tab
        [p-active]="true"
        [p-disabled]="isFreightTabDisabled"
        p-label="Dados logísticos" >
            <po-container
            [p-height]="175"
            [p-no-border]="true"
            [p-no-padding]="true" >
                <po-dynamic-form
                [p-fields]="logisticsDataFields"
                [p-value]="headerData" 
                [p-validate-fields]="this.validateFreightFields"
                [p-validate]="this.onChangeFreightFields.bind(this)" >
   
                </po-dynamic-form>
            </po-container>
        </po-tab>

    </po-tabs>

    <div style="margin-top: 5px;"></div>

    <div [style.display]="isRowsEmpty ? 'flex' : 'none'" class="add-row-button">

        <po-button
        p-label="Adicionar produto"
        (p-click)="onModifyRow(rows[0])"
        p-kind="tertiary"
        p-size="large"
        p-icon="an an-plus">
        </po-button>

    </div>

    <po-table [style.display]="!isRowsEmpty ? 'block' : 'none'"
    [p-columns]="columns"
    [p-items]="rows"
    [p-actions]="gridRowActions"
    [p-hide-columns-manager]="true"
    [p-draggable]="false"
    [p-sort]="false"
    [p-striped]="true"
    p-container="border"
    [p-height]="tableHeight"
    [p-literals]="{noData: ''}"
    [p-loading-show-more]="true" >

    </po-table>

    <div class="total-values">
        <po-info p-label="Valor Produtos"   [p-value]="this.budgetTotalValueFormatted"      [p-orientation]="infoOrientation" > </po-info>
        <po-info p-label="Valor Frete"      [p-value]="this.budgetFreightValueFormatted"    [p-orientation]="infoOrientation" > </po-info>
        <po-info p-label="Peso Total"       [p-value]="this.totalLoadWeightFormatted"       [p-orientation]="infoOrientation" > </po-info>
        <po-tag [p-value]="weightStatusInformations[0]" [p-type]="weightStatusInformations[1]" [p-icon]="true" > </po-tag>
    </div>

    <po-modal #modal
    [p-click-out]="false"
    [p-hide-close]="true"
    p-icon="an an-plus-circle"
    p-size="xl"
    [p-title]="rowFormTitle" >

        <po-dynamic-form #rowForm
        [p-fields]="columns"
        [p-value]="rowData"
        [p-validate-fields]="this.validateFieldsRow"
        [p-validate]="this.onChangeFieldsRow.bind(this)" >
        </po-dynamic-form>
        
        <div [style.display]="isPriceRangesTablesVisible && !!rowData.productId ? 'block' : 'none'">

            <po-divider
            p-label="Faixas de Preço" >
            </po-divider>
        
            <div class="price-ranges-table">

                <po-table class="po-xl-4 po-lg-5 po-md-8"
                [p-columns]="priceRangesColumns"
                [p-items]="priceRangesRows"
                [p-striped]="true"
                p-container="border"
                [p-hide-columns-manager]="true" >
                </po-table>

            </div>

        </div>

        <po-modal-footer>

            <po-button [style.display]="isQuotationBranch ? 'flex' : 'none'"
            p-label="Faixas de Preço"
            p-kind="tertiary"
            [p-disabled]="!rowData.productId"
            [p-loading]="isModalPriceRangesButtonLoading"
            (p-click)="onPriceRangesClick()">
            </po-button>

            <po-button
            p-label="Cancelar"
            (p-click)="closeRow()">
            </po-button>

            <po-button p-label="Salvar"
            (p-click)="saveRow(rowData)"
            p-kind="primary"
            [p-loading]="isModalSaveButtonLoading"
            p-icon="an an-check">
            
        </po-button>

        </po-modal-footer>

    </po-modal>

    <po-modal #modalCopy
    [p-click-out]="false"
    [p-hide-close]="true"
    p-icon="an an-copy"
    [p-primary-action]="confirmCopy"
    [p-secondary-action]="cancelCopy"
    p-size="xl"
    p-title="Copiar - Seleção de Itens" >

        <po-dynamic-form
        [p-fields]="copyModalFields"
        [p-value]="copyModalHeaderData" >
        </po-dynamic-form>

        <po-divider></po-divider>

        <po-info p-label="Selecione abaixo os itens que deseja copiar para o novo orçamento" [p-orientation]="infoOrientation" ></po-info>

        <po-table #tableCopy
        [p-columns]="columns"
        [p-items]="rows2Copy"
        [p-hide-columns-manager]="true"
        [p-draggable]="false"
        [p-sort]="false"
        [p-striped]="true"
        p-container="border"
        [p-selectable]="true"
        [p-selectable-entire-line]="true"
        [p-hide-table-search]="true"
        [p-height]="350" >
        </po-table>

    </po-modal>

</po-page-edit>
<po-loading-overlay [hidden]="isHideLoading" [p-text]="loadingText" ></po-loading-overlay>
