::ng-deep po-grid .po-grid-cell {
    border-color: #B4E2FD !important; /* Cor da barra vertical do po-grid */
    --color-grid-head-content-border-bottom-color: #B4E2FD; /* Cor da barra horizontal do po-grid */
}

::ng-deep .po-tab-button {
    min-width: 48% !important; /* Largura mínima do botão de seleção da aba */
}

.total-values {
    display: flex;
    justify-content: space-between;
    gap: 15%; /* espaçamento entre os po-info */
    margin-top: 10px;
    margin-left: 3%;
}

.total-values po-info {
    flex: 1;               /* todos ocupam o mesmo espaço */
    min-width: 0;          /* previne overflow em casos extremos */
}

.copy-info po-info {
    margin-top: 50%;    
}