::ng-deep po-grid .po-grid-cell {
    border-color: #B4E2FD !important; /* Cor da barra vertical do grid */
    --color-grid-head-content-border-bottom-color: #B4E2FD; /* Cor da barra horizontal do grid */
}

::ng-deep .po-tab-button {
    min-width: 48% !important; /* Largura mínima do botão de seleção da aba */
}