<po-loading-overlay [hidden]="isHideLoading"></po-loading-overlay>
<po-page-edit
    [p-title]="formTitle"
    (p-save)="onSaveForm()"
    (p-cancel)="onCancelForm()"
    [p-disable-submit]="false"
    >

    <po-tabs>

        <po-tab
        [p-active]="true"
        p-label="Dados gerais" >
            <po-container
            [p-height]="175"
            [p-no-border]="true"
            [p-no-padding]="true" >
                <po-dynamic-form [p-fields]="generalDataFields"
                [p-value]="headerData"
                [p-validate-fields]="this.validateFieldsHeader"
                [p-validate]="this.onChangeFieldsHeader.bind(this)" >
                    
                </po-dynamic-form>
            </po-container>
        </po-tab>

        <po-tab
        [p-active]="true"
        [p-disabled]="isLoadingLocationEmpty()"
        p-label="Dados logísticos" >
            <po-container
            [p-height]="175"
            [p-no-border]="true"
            [p-no-padding]="true" >
                <po-dynamic-form
                [p-fields]="logisticsDataFields"
                [p-value]="headerData" 
                [p-validate-fields]="this.validateFieldsHeader"
                [p-validate]="this.onChangeFieldsHeader.bind(this)" >
                        
                </po-dynamic-form>
            </po-container>
        </po-tab>

    </po-tabs>

    <!--
        <po-container
        [p-height]="310"
        [p-no-border]="true"
        [p-no-padding]="true" >
            <po-grid [p-data]="data" [p-columns]="gridColumns" [p-row-actions]="gridRowActions">
        
            </po-grid>
        </po-container>
    -->

    <div style="margin-top: 5px;"></div>

    <po-table
    [p-columns]="columns"
    [p-items]="rows"
    [p-actions]="gridRowActions"
    [p-hide-columns-manager]="true"
    [p-draggable]="false"
    [p-sort]="false"
    [p-striped]="true"
    p-container="border"
    [p-height]="300"
    [p-loading-show-more]="true" >

    </po-table>

    <div class="total-values">
        <po-info p-label="Valor Total"  [p-value]="this.budgetTotalValue"   [p-orientation]="infoOrientation" > </po-info>
        <po-info p-label="Peso Total"   p-value="0 kg"                      [p-orientation]="infoOrientation" > </po-info>
        <po-info p-label="Valor Frete"  [p-value]="this.budgetFreightValue" [p-orientation]="infoOrientation" > </po-info>
    </div>

    <po-modal #modal
    [p-click-out]="false"
    [p-hide-close]="true"
    p-icon="an an-plus-circle"
    [p-primary-action]="confirmRow"
    [p-secondary-action]="cancelRow"
    p-size="xl"
    [p-title]="rowFormTitle" >
        <po-dynamic-form #rowForm
        [p-fields]="columns"
        [p-value]="rowData"
        [p-validate-fields]="this.validateFieldsRow"
        [p-validate]="this.onChangeFieldsRow.bind(this)" >
            
        </po-dynamic-form>
    </po-modal>

    <po-modal #modalCopy
    [p-click-out]="false"
    [p-hide-close]="true"
    p-icon="an an-copy"
    [p-primary-action]="confirmCopy"
    [p-secondary-action]="cancelCopy"
    p-size="xl"
    p-title="Copiar - Seleção de Itens" >

        <po-info p-label="Selecione abaixo os itens que deseja copiar para o novo orçamento" [p-orientation]="infoOrientation" ></po-info>

        <po-table #tableCopy
        [p-columns]="columns"
        [p-items]="rows2Copy"
        [p-hide-columns-manager]="true"
        [p-draggable]="false"
        [p-sort]="false"
        [p-striped]="true"
        p-container="border"
        [p-selectable]="true"
        [p-selectable-entire-line]="true"
        [p-hide-table-search]="false"
        [p-height]="325" >

        </po-table>

    </po-modal>

</po-page-edit>